@import url('https://fonts.googleapis.com/css?family=Lato');
@import './input-range.scss';


$color-primary: coral;
$color-secondary: #cccccc;

$font-size-md: 1.3rem;
$size-lg: 1.5rem;
$size-md: 1rem;
$size-sm: 0.5rem;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: $size-lg * 2;
  text-align: center;
  padding: 0 $size-md;
  overflow: hidden;
}

#title {
  text-align: center;
  margin-bottom: $size-lg;
  font-weight: 400;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-container {
  margin-bottom: $size-lg;
  button {
    background-color: unset;
    border: 1px solid lighten($color-primary, 20%);
    border-radius: 1rem;
    box-sizing: border-box;
    font-size: $font-size-md;
    margin-left: $size-sm;
    margin-right: $size-sm;
    padding: $size-sm;
    transition: 0.1s;
    @media screen and (min-width: 500px) {
      margin-left: 1rem;
      margin-right: 1rem;
      padding: 1rem;

    }
    &:hover {
      border: 1px solid lighten($color-primary, 10%);
      color: $color-primary;
      cursor: pointer;
    }
  }
}

#generation {
  font-size: $font-size-md;
  color: $color-primary;
  margin-bottom: $size-lg;
}

#canvas-container {
  overflow: hidden;
  margin-bottom: $size-lg;
}

#attribution {
  p {
    font-size: $font-size-md;
    margin-bottom: $size-lg;
    &#code-repository {
      font-size: 1rem;
    }
    a {
      text-decoration: none;
      color: $color-primary;
    }
  }
}

.board {
  margin-bottom: $size-lg;
  .row:first-child .cell {
    border-top: 1px solid black;
  }
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  :first-child .cell {
    border-top: 1px solid black;
  }
}

.cell {
  width: 12px;
  height: 12px;
  flex: 0 1 auto;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  display: inline-block;
  box-sizing: border-box;
  &:first-child {
    border-left: 1px solid black;
  }
}

.dead {
  background-color: transparent;
}

.alive {
  background-color: $color-primary;
}

.slider {
  margin-bottom: $size-lg;
}

.slider__title {
  font-size: $font-size-md;
}

.slider__text {
  //border: 1px solid black;
  //padding: $size-sm / 2;
  //border-radius: $size-sm;
  //background-color: $color-primary;
  //color: white;
  font-size: $font-size-md * 0.8;
}

.pattern-picker-container {
  margin-bottom: $size-lg;
}

.pattern-picker-text {
  font-size: $font-size-md;
}

#pattern {
  font-family: 'Lato', sans-serif;
}

input[type=range] {
  width: 100px;
  margin-left: $size-md;
  margin-right: $size-md;
}
